<input type="checkbox" id="check">
<header>
    <label for="check"><i class="fa fa-bars" id="menu-lateral-btn"></i></label>
    <div class="conteudo-header">
        <div class="area-esquerda">
            <h3>Odonto<span>Manager</span></h3>
        </div>
        <div class="area-direita">
            <a href="/logout" class="button-sair ">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
            </a>
        </div>
</header>