<!-- AREA DE MENU-MOBILE -->
<div class="menu-mobile">
    <div class="barra-menu">
        <img src="/images/avatar.svg" class="avatar-mobile">
        <i class="fa fa-bars menu-btn"></i>
    </div>
    <div class="menu-mobile-itens">
        <a href="/admin/index"><i class="fa fa-home"></i><span>Home</span></a>
        <a href="/pacientes"><i class="fa fa-address-card-o"></i><span>Pacientes</span></a>
        <a href="/servicos"><i class="fa fa-spinner"></i><span>Serviços</span></a>
        <a href="/consultas"><i class="fa fa-book"></i><span>Consultas</span></a>
        <a href="/usuarios"><i class="fa fa-users"></i><span>Usuários</span></a>
    </div>
</div>
<!--FIM DA AREA DE MENU-MOBILE-->

<!-- AREA DO MENU-->

<div class="menu-lateral">
    <div class="menu-info">
        <img src="/images/avatar.svg" class="profile-avatar">
        <h4>Olá,</h4>
        <h5>Administrador</h5>
    </div>
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a>
    <a href="/pacientes"><i class="fa fa-address-card-o" aria-hidden="true"></i><span>Pacientes</span></a>
    <a href="/servicos"><i class="fa fa-spinner" aria-hidden="true"></i><span>Serviços</span></a>
    <a href="/consultas"><i class="fa fa-book" aria-hidden="true"></i><span>Consultas</span></a>
    <a href="/usuarios" class="ultimo-a"><i class="fa fa-users" aria-hidden="true"></i><span>Usuários</span></a>
</div>
<!-- FIM DA AREA DO MENU-->